.App {
  text-align: center;
}

.form{
  margin: 20px;
}

.form h1{
  font-family: 'Nunito', sans-serif;
}

.form input {
  border: 1px solid #B2BABD;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  background-color: #e2e2e2;
}

.form input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;

}


.lista{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


.unitario{
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  max-height: 500px;
  min-height: 500px;
}

.unitario:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

.card{
  padding: 10px;
}

.card img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}

.card p{
  font-weight: bold;
  font-size: 16px;
}

.card span{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
